body{
    background-color: black;
    color: aliceblue;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}
h2{
    
}
#ped{
    position: relative;
    left: 420px;
}

#ma{
   margin-left: 130px;
}
#iot{
    margin: 60px;
}
#py{
    margin-left: 100px;
}
#ie{
    margin-left: 60px;
}